.buildlog
.pub/
build/
packages
.packages
*.dart.js
*.js_
*.js.deps
*.js.map
workspace.xml
Dart_Packages.xml
.DS_Store
.idea/
*.aqueduct.pid
config.yaml
config.src.yaml
map-testing-547d4-firebase-adminsdk-4wxk2-51868c54a8.json
assets/